.tileConfirmFile{
    @include usualSpaces(1rem,1rem,0rem,0rem);
    display: flex;
}

.fileInformations{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.fileTypeImg{
    width: 10rem;
    border-radius: .5rem;
    // margin: 0rem 1rem;
}
